In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

filePath = '/Users/Firefly/Desktop/_iMac_Drive/Joseph/Coding/NFL/Jupyter/'

# Choose whether you want the 'raw_play_by_play' or 'cleaned_play_by_play' data 
#file = 'raw_play_by_play_'
file = 'cleaned_play_by_play_'

YEARS = [2018, 2019, 2020]

data = pd.DataFrame()

for i in YEARS:
    #Update for your path and file name(s)
    i_data = pd.read_csv(filePath + file + str(i) + '.csv.gz',
                         compression='gzip', engine='python')
    
    data = data.append(i_data, sort=False)
    
data.reset_index(drop=True, inplace=True)

# These two lines set the scroll options so you can scroll vertically and horizontally.
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 300)

#Get dropbacks
data = data.loc[data.qb_epa.isna()==False]

#Abbreviated name of QB
qb = 'P.Mahomes'

In [26]:
# Get avg epa for qb's games
data['team_win'] = np.where(data['home_score'] > data['away_score'], data['home_team'], data['away_team'])

qb_games = data[['game_id', 'qb_epa', 'qtr', 'season', 'posteam', 'home_score', 'away_score', 'team_win']].loc[(data.passer==qb) | (data.rusher==qb)]
                                                                         
qb_games

,game_id,qb_epa,qtr,season,posteam,home_score,away_score,team_win
1056,2018_01_KC_LAC,-0.134764,1,2018,KC,28,38,KC
1057,2018_01_KC_LAC,0.918377,1,2018,KC,28,38,KC
1058,2018_01_KC_LAC,0.218806,1,2018,KC,28,38,KC
1059,2018_01_KC_LAC,5.170212,1,2018,KC,28,38,KC
1064,2018_01_KC_LAC,-0.598879,1,2018,KC,28,38,KC
...,...,...,...,...,...,...,...,...
104707,2020_14_KC_MIA,-1.482373,4,2020,KC,27,33,KC
104726,2020_14_KC_MIA,1.972703,4,2020,KC,27,33,KC
104729,2020_14_KC_MIA,-0.273342,4,2020,KC,27,33,KC
104733,2020_14_KC_MIA,3.138780,4,2020,KC,27,33,KC
104736,2020_14_KC_MIA,0.462406,4,2020,KC,27,33,KC

In [45]:
qb_quarters = (
    qb_games.groupby(['season', 'game_id', 'qtr', 'team_win'])[['qb_epa']]
    .mean()
    .reset_index()
    .sort_values(by=['qb_epa'],ascending=False)
    .reset_index(drop=True)
    )
qb_quarters.head(15)

    season         game_id  qtr team_win    qb_epa
0     2018  2018_17_OAK_KC    4       KC  1.651848
1     2019  2019_01_KC_JAX    1       KC  1.568110
2     2019  2019_16_KC_CHI    4       KC  1.496181
3     2020  2020_07_KC_DEN    4       KC  1.478783
4     2018  2018_02_KC_PIT    1       KC  1.420908
5     2018  2018_17_OAK_KC    3       KC  1.346118
6     2019  2019_13_OAK_KC    4       KC  1.342235
7     2020  2020_14_KC_MIA    3       KC  1.320039
8     2018  2018_02_KC_PIT    3       KC  1.282350
9     2020  2020_06_KC_BUF    4       KC  1.273165
10    2019  2019_02_KC_OAK    2       KC  1.253873
11    2018  2018_01_KC_LAC    3       KC  1.250491
12    2018   2018_06_KC_NE    3       NE  1.216910
13    2019  2019_19_HOU_KC    3       KC  1.161047
14    2018  2018_09_KC_CLE    3       KC  1.158392